
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .search-links {
            position: absolute;
            top: 30px;
            right: 30px;
        }

        .search-links a {
            margin-left: 10px;
        }

        .search-container {
            position: absolute;
            top: 65px;
            left: 50%;
            transform: translateX(-50%);
            text-align: center; 
        }

        input[type=text] {
            border-radius: 50px;
            border: 1px solid lightgray;
            width: 550px;
            height: 25px;
            padding: 10px;
            margin-bottom: 10px;
        }
        input[type=submit] {
            border-radius: 3px;
            border: none;
            color: black;
            padding: 10px 20px;
            cursor: pointer;
        }

        .advanced-page {
            margin: 25px;
            position: absolute;
            left: 0;
            top: 0;
        }
        .advance-search-red {
            color: #d93025;
            font-size: 20px;
            margin-bottom: 10px; 
            position: absolute;
            top: 0;
            left: 0;
        }
        

        
        .find-pages{
            font-size: 16px;
            color: #333333;
        }
        
        .input-advanced {
            margin: 60px;
        }
        
        .advance-input {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        
        .left {
            width: 200px;
        }

        .right input[type="text"] {
            width: 385px; 
            height: 30px; 
            border-radius: 0; 
            border: 1px solid #ccc; 
            padding: 5px; 
            box-sizing: border-box; 
        }

        .advance-search {
            display: flex;
            justify-content: flex-end;
        }
        
        
        .advance-box {
            box-shadow: none;
            background-color: #4d90fe;
            border: 1px solid #3079ed;
            color: #fff;
        }
        